@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,500;1,300;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'GT-Maru';
    src: url('/fonts/GT-Maru/GT-Maru-Light-Trial.woff2');
    src: url('/fonts/GT-Maru/GT-Maru-Regular-Trial.woff2');
    src: url('/fonts/GT-Maru/GT-Maru-Medium-Trial.woff2');
    font-weight: 400;
    font-style: normal;
  }
}

.CodeMirror {
  font-family: serif;
  font-size: 16px;
}